@import "../node_modules/tether/src/css/tether";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";

.loader-wrapper{
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    top: auto;
    bottom: auto;
    //top: 15%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
.loader {
    color: #31b0d5;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease;
    animation: load6 1.7s infinite ease;
}
.loader.small{
    font-size: 24px;
    margin: 0;
}
@-webkit-keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

.body.disabled{
    opacity: 0.5;
}


.issue-list-item {
    transition: opacity .5s;
}

.issue-list-move {
    transition: transform .1s ease-in;
    opacity: 0;
}
.issue-list-move:nth-child(2n) {
    transition: transform .3s ease-in;
    opacity: 0;
}
.issue-list-move:nth-child(3n) {
    transition: transform .2s ease-in;
    opacity: 0;
}

.issue-list-move:nth-child(4n) {
    transition: transform .2s ease-in;
    opacity: 0;
}
.issue-list-move:nth-child(5n) {
    transition: transform .1s ease-in;
    opacity: 0;
}

.issue-list-leave-active {
    position: absolute;
    width: 100%;
}

.issue-list-leave-active {
    visibility: hidden;
}

.issue-list-enter-active {
    transition-delay: .1s;
}
.issue-list-enter-active:nth-child(2n) {
    transition-delay: .3s;
}
.issue-list-enter-active:nth-child(3n) {
    transition-delay: .2s;
}
.issue-list-enter-active:nth-child(4n) {
    transition-delay: .2s;
}
.issue-list-enter-active:nth-child(5n) {
    transition-delay: .1s;
}

.issue-list-enter {
    opacity: 0;
}
html, .app{
    height: 100%;
}
body{
height: calc(100% - 60px);
}
.body{
    height: 100%;
    .column{
        border-left: 1px solid rgba(0, 0, 0, 0.125);
        overflow-y: scroll;

        .control{
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        }
    }
    .column:first-of-type{
        border-left: none;
    }
    .selectable{
        cursor: pointer;
    }
    .middle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .empty-box-text{
            text-align: center;
            font-size: 36px;
            color: #ccc;
        }
    }

}
.fullscreen-issue-viewer{
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
}