<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title data-title="Gitlab timer">Gitlab timer</title>
    <link rel="stylesheet" href="asset/css/app.css">
</head>
<body>
<div id="gitlabTimer" class="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Gitlab timer</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class="form-inline mt-2 mt-md-0 navbar-nav">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#settingsDialog">
                    <span class="fa fa-cog"></span> Настройки
                </a>
            </div>
        </div>
    </nav>

<div class="col col-xs-12 app">
    <div v-show="showPreloader" class="loader-wrapper">
        <div class="loader"></div>
    </div>
    <div class="modal fade" id="settingsDialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Настройки</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="settings-GitlabServer" class="col-4 col-form-label">Gitlab сервер</label>
                        <div class="col-8">
                            <input v-model="storedData.config.gitlab.host" class="form-control" type="text"
                                   id="settings-GitlabServer" placeholder="https://gitlab.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="settings-GitlabPrivateKey" class="col-4 col-form-label">
                            <span v-if="storedData.config.gitlab.host">
                                <a :href="getUrl('/profile/account')" target="_blank">Gitlab PrivateKey </a></span>
                            <span v-else-if="storedData.config.gitlab.privateKey"> Gitlab PrivateKey </span>
                        </label>
                        <div class="col-8">
                            <input v-model="storedData.config.gitlab.privateKey" class="form-control" type="password"
                                   id="settings-GitlabPrivateKey" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" @click="applyConfig" data-dismiss="modal">Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="fullscreen-issue-viewer" v-show="viewIssueInFullScreenMode">
        <div v-if="gitlab.renderedIssue.hasOwnProperty('id')">
            <div class="control pull-right">
                <a href="#" title="Запустить таймер"
                        @click="startTimer(gitlab.renderedIssue.iid)"
                        :class="isActiveIssue(gitlab.renderedIssue.iid) ? 'd-none' : ''">
                    <span  class="fa fa-play"></span>
                </a>
                <span :class="!!gitlab.currentIssue && isActiveIssue(gitlab.renderedIssue.iid) ? '' : 'd-none'">
                    <small v-if="isActiveIssue(gitlab.renderedIssue.iid)">{{timerActiveString}} | </small>
                    <a href="#" title="остановить таймер"
                            @click="stopTimer(gitlab.renderedIssue.iid)">
                        <span  class="fa fa-stop"></span>
                    </a>
                </span>
                <a href="#" @click.prevent="viewIssueInFullScreenMode = false">
                    <span class="fa fa-compress"></span>
                </a>
            </div>

            <h3>
                <a :href="gitlab.renderedIssue.web_url" target="_blank"><span class="fa fa-gitlab"></span> </a>
                {{gitlab.renderedIssue.title}}
            </h3>
            <div>
                <vue-markdown :source="replaceImages(gitlab.renderedIssue.description)"></vue-markdown>
            </div>
        </div>
    </div>

    <div class="body row">
        <div class="col-4 column">
            <div class="control">
            <h2>Проекты</h2>
            <div>
                Отображать
                <select v-model="projectListType" class="custom-select">
                    <option value="all">Все</option>
                    <option value="starred">Избранные</option>
                </select>
            </div>
            </div>
            <div class="list-group">
                <div v-for="gitlabProject in gitlab.projects" class="list-group-item list-group-item-action"
                     :class="gitlabProject.id == gitlab.currentProjectId ? 'active': ''">
                    <div class="d-flex w-100 justify-content-between">
                        <div @click="setProject(gitlabProject.id); gitlab.renderedIssue={};"
                             class="selectable">
                            <i class="fa fa-gitlab"></i> {{gitlabProject.name_with_namespace}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-4 column" :class="filteredIssueList.length  ? '': 'middle'">

            <div class="empty-box-text" v-show="!(filteredIssueList.length) || !gitlab.currentProjectId">
            <div  v-show="!(filteredIssueList.length) && !gitlab.currentProjectId">
                Как только Вы выберете проект, здесь будет отображаться список задач
            </div>
            <div  v-show="gitlab.currentProjectId">
                В выбранном проекте пока нет ни одной задачи
            </div>
            </div>
            <div v-show="filteredIssueList.length">
                <div class="control">
                    <h2>Список задач
                        <a href="#" v-show="gitlab.currentProjectId" @click="loadIssueList(); gitlab.renderedIssue={};" title="Обновить"><i class="fa fa-refresh"></i></a>
                    </h2>
                    <div v-show="gitlab.currentProjectId">
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" v-model="assigned">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Только назначенные мне</span>
                        </label>
                    </div>

                    </div>
                </div>

                <div class="list-group issue-list-item">
                    <transition-group name="issue-list" tag="div">
                        <div v-for="issue in filteredIssueList" :key="issue.iid"
                             class="list-group-item list-group-item-action selectable flex-column align-items-start"
                             :class="isActiveIssue(issue.iid) ? 'active': ''"
                            @click="renderIssue(issue.id)">
                            <div class="row no-gutters">
                                <div class="col-sm-8">
                                <h5 class="mb-1">{{issue.title}}</h5>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-sm btn-outline-primary"
                                            @click="startTimer(issue.iid)"
                                            :class="isActiveIssue(issue.iid) ? 'd-none' : ''">Запустить таймер
                                    </button>
                                    <button class="btn btn-sm btn-success"
                                            @click="stopTimer(issue.iid)"
                                            :class="!!gitlab.currentIssue && isActiveIssue(issue.iid) ? '' : 'd-none'">Остановить
                                        таймер
                                        <small v-if="isActiveIssue(issue.iid)">{{timerActiveString}}</small>
                                        <div class="loader small" v-show="showTimerPreloader && isActiveIssue(issue.iid)"></div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </transition-group>
                </div>
            </div>
        </div>
        <div class="col-4 column" :class="gitlab.renderedIssue.hasOwnProperty('id') ? '': 'middle'">
        <div class="empty-box-text" v-show="!gitlab.renderedIssue.hasOwnProperty('id')">
            Как только Вы выберете задачу, здесь будет отображаться её описание
        </div>
        <div v-if="gitlab.renderedIssue.hasOwnProperty('id')">
            <div class="control">
                <button class="btn btn-outline-primary"
                        @click="startTimer(gitlab.renderedIssue.iid)"
                        :class="isActiveIssue(gitlab.renderedIssue.iid) ? 'd-none' : ''">Запустить таймер
                </button>
                <button class="btn btn-success"
                        @click="stopTimer(gitlab.renderedIssue.iid)"
                        :class="!!gitlab.currentIssue && isActiveIssue(gitlab.renderedIssue.iid) ? '' : 'd-none'">Остановить
                    таймер
                    <small v-if="isActiveIssue(gitlab.renderedIssue.iid)">{{timerActiveString}}</small>
                </button>
                <div class="pull-right">
                    <a href="#" @click.prevent="viewIssueInFullScreenMode = true"><span class="fa fa-arrows-alt fa-fw"></span></a>
                </div>
            </div>

            <h3>
                <a :href="gitlab.renderedIssue.web_url" target="_blank"><span class="fa fa-gitlab"></span> </a>
                #{{gitlab.renderedIssue.iid}} {{gitlab.renderedIssue.title}}
            </h3>
            <div><vue-markdown :source="replaceImages(gitlab.renderedIssue.description)"></vue-markdown></div>
        </div>
    </div>
    </div>

</div>
</div>
<script src="asset/js/app.js"></script>
</body>
</html>
